h1{
    border-bottom: 3px solid #333333;
    text-align: center;
    margin: 0;
    height: 60px;
    background-color:#C6A969;
    color: #333333;
}

body{
    margin: 0;
    height: 100vh;
}

img{
    width: 650px;
    height: 365px;
}

iframe{
    width: 560px;
    height: 315px;
}

#grid{
    display: grid;
    grid-template-columns: 150px 1fr;
    height: 100%;  
}

#grid #article{
 padding-left: 20px;
 background-color: #FFFFEC;
}

#grid dt{
    width: 130px;
    padding: 20px;
    margin: 0;
    font-weight: bolder;
    padding: 10;
    padding-bottom: 2px;
    margin-bottom: 5px;
}

#grid dl{
    border-right: 3px solid #333333;
    margin: 0;
    background-color: #F1E4C3;
}

#grid dd{
    margin-left: 30px;
    margin-bottom: 5px;
}

summary{
    list-style: none;
}

a:link {
    color : #333333;
    text-decoration: none;
  }
  a:visited {
    color : #333333;
    text-decoration: none;
  }
  a:hover {
    color : #333333;
    text-decoration: underline;
  }
  a:active {
    color : green;
    text-decoration: none;
  }

  /*h1은 설명을 위한 css이기 때문에 지우셔도 됩니다.
지우지 않을 경우 다른 h1코드 스타일과 충돌할 가능성이 있습니다*/

/*
h1 {
    font-size: 35px;
    text-align: center;
    padding: 4% 0px;
    letter-spacing: 1px;
  }
  */
  
  
  /*div변경과 관련된 코드입니다.
  색 등의 디자인은 보이기 위해서 표시해놨으니
  스타일 추가 및 변경이 가능합니다.*/
  
  .main input[type=radio] {
    display: none;
}
#tab-1:checked ~ .tab label:nth-child(1),
#tab-2:checked ~ .tab label:nth-child(2) {
    background-color: rgba(0, 0, 0, 0.2);
  box-shadow: none;
}
.content > div {
    display: none;
}
#tab-1:checked ~ .content div:nth-child(1),
#tab-2:checked ~ .content div:nth-child(2) {
    display: block;
}
.main {
  margin: 0 auto;
  main-width:1380px;
  max-width: 100%;
  width: 800px;
}
.tab {
  overflow: hidden;
}
.tab label {
    font-size: 18px;
    cursor: pointer;
    float: left;
    width: 25%;
    text-align: center;
    padding: 15px 0;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    user-select: none;
    -webkit-user-select: none;
}
.content {
  background-color: rgba(0, 0, 0, 0.2);
  min-height: 250px;
}
.content > div{
   padding: 30px;
   line-height: 1.5;
   font-size: 17px;
}

@media screen and (min-width:1250px) {
  #grid #article {
    text-align: center; 
  }
}
